@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);

  --grey-800: hsl(0, 0%, 12%);

  --grey-900: hsl(0, 0%, 8%);

  --font-sz-p: 14px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: var(--grey-800);
  margin: auto;
  margin-top: 100px;
  padding: 2rem;
  border-radius: 10px;
}
.img {
  background-image: url("assets/images/personal.jpg");
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 50%;
}
.Social {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
span {
  color: var(--green);
  margin-top: -10px;
}
a {
  width: 90%;
  padding: 14px;
  background-color: var(--grey-700);
  color: var(--white);
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
a:hover {
  color: black;
  background-color: var(--green);
}

@media screen and (max-width: 500px) {
  body {
    height: 100vh;
  }
  .wrapper {
    width: 75%;
  }
}
